.gradient-text {
  background: linear-gradient(to right, #f79d00, #64f38c); /* Define your gradient colors */
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent; /* Hide original text color */
  }


